#main-header.header-grid-area {
    background-color: grey;
}
.ga-content-main {
    background-color: blue;
}
.ga-content2-main {
    background-color: red;
}

.ga-content3-main {
    background-color: yellow;
}

.ga-content4-main {
    background-color: purple;
}