.header-grid-area {
    background-color: grey;
}
.ga-content-main {
    background-color: beige;
}
.sidebar-grid-area {
    background-color: lightcyan;
    border: 1px solid black;
}
.ga-foot-main {
    background-color: lightgrey;
}