#mobile-menu-trigger {
  color: inherit;
  border: none;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  background: none;
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  #mobile-menu-trigger {
    display: none;
  }
}



